.feed-notification{
	padding: 5px 5px 5px 0px !important;
	/*border: 1px #45ADA8 solid;*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-top: 10px;
  background: lightgrey;
}
.read {
	background: rgba(245, 245, 245, 0.79);
}
.read .comment p{
	color: grey;
	font-weight: lighter;
}
.repo-name{
	text-align: right;
}
.repo-name p, .comment p{
	color: rgb(70, 65, 65);
	margin:0px;
	font-weight: bold;
}
.circle{
	border-radius: 50%;
	height: 28px;
	width: 28px;
	background-color: black;
}
.bookmark{
	margin-left: 10px;
	padding: 0px !important;
	color: #e1e3e8;
}
