.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 48px);
	width: 100%;
	font-family: 'Raleway', sans-serif;
	background-color:#547980;
	color:  white ;
	margin: 0;
}
.title h1{
	margin: 10px 0px 10px 0px;
	font-size: 50px;
}
.btn-default{
	background-color:transparent  !important;
	color: white !important;
	padding: 15px !important;
	font-size: 25px !important;
	border: 3px solid white !important;
	transition: 0.3s !important;
}
.btn-default:hover{
	background-color: #CC2A41 !important; 
	border: 3px #CC2A41 solid !important;
}
button i {
	margin: 5px;
}
.subtitle{
	margin-bottom: 15px;  
	text-align: center;
}
.logo img{
	fill:red;
	height: 150px;
	width: 150px;
}
.description{
    justify-content: center;
    align-items: center;
    background-color: #E8CAA4;

}
.img-circle{
	margin-top: 20px;
}
.center{
	text-align: center;
}
.button{
	border: 2px solid black !important;
	color: black !important;
	margin-top: 20px !important;
}
.button:hover{
	border: 2px solid transparent !important;
}
button a:hover{
	color: white;
	text-decoration: none;
}
button a{
	color: black;
	text-decoration: none;
}
.block{
	height: 100vh;
}
.marketing .col-lg-3 {
  background-color: #45ADA8;
  text-align: center;
  padding: 10px;
  margin:10px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px;
}