.repositories{
	height: calc(100vh - 65px);
}
.repositories .container{
	height: calc(100vh - 65px);
}
.repo-box{
	overflow-y: scroll;
	margin-top: 10px;
	border-radius: 8px 8px 0px 0px;
	border:1px solid #45ADA8;
	height: calc(100vh - 135px);
}
.add-repo{
	margin-top: 10px;
	background-color:  #45ADA8;
	border-radius: 8px 8px 0px 0px;
	padding:5px;
}
.btn-repo{
	color: white;
	height: 40px;
	width: 40px;
	padding:0px !important;
	border-radius: 50%;
}
.btn-repo p{
	font-size: 18px !important;
	margin: 0px;
	padding: 0px;
}