
.line{
	margin-top: 10px;
	font-size: 18px;
	padding: 0px !important;
}
.icon{
	padding: 0px !important
}
.number{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	border: 2px #45ADA8 solid;
	padding: 0px;
}
.number p{
	font-size: 18px;
	margin:0px;
}	