
.line{
	margin-top: 10px;
	font-size: 18px;
	padding: 5px !important;
	transition: 0.4s;
	cursor: pointer;
}
.line:hover,.line:active,.line:focus{
	padding: 5px !important;
	background-color: rgba(111, 111, 132, 0.66);
	border-radius: 4px;
}
.icon{
	padding: 0px !important
}
.line p{
	margin: 0px !important;
}
.number{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 20px;
	border: 1.2px #99a0a0 solid;
	padding: 5px 17px 5px 17px;
}
.number p{
	font-size: 15px;
	margin:0px;
	padding: 0px;
}	