
.sidebar{
	margin: 10px 0px 0px 10px;
	height: calc(100vh - 111px);
	padding: 0px !important;
/*	overflow-y: scroll;*/
}
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-color: #a6acbc;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}